{% extends 'base.html.twig' %} 
{% block body %}

<table class="table">
<thead class="thead-dark">
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Mail</th>
        <th scope="col">Ciudad</th>
    </tr>
</thead>
{% for usuarios in usuarios %}
<tbody>
    <tr>
        <td>{{usuarios.nombre}}</td>
        <td>{{usuarios.email}}</td>
        <td>{{usuarios.ciudad}}</td>
    </tr>
</tbody>
{% endfor %}
</table>



{% endblock %}