{% extends 'base.html.twig'%}

{% block body %}
    <div class="logo">
        <img src="{{ ('Images/logo.svg') }}">
        
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Localizacion</th>
                <th scope="col">Comentario</th>
                <th scope="col">Guardar</th>
            </tr>
        </thead>
        {{ form_start(comentarios)}}

        <tbody>
            <tr>

                <td>{{form_widget(comentarios.nombre)}}</td>
                <td>{{form_widget(comentarios.localizacion)}}</td>
                <td>{{form_widget(comentarios.comentario)}}</td>
                <td><input type="submit" value="Guardar"></td>
            </tr>
        </tbody>

        {{form_end(comentarios)}}
    </table>


{% endblock %}
