{% extends 'maleteoIndex.html.twig'%}


{% block formulario %}
    
    <div id="msg" class="mensaje-alert textLarge">
        <h4>¡Gracias!</h4>
        <p>Tu formulario ha sido enviado correctamente</p>
    </div>


{% endblock %}
